/*
light blue: #DFE9E0
melon: #F3E3CA

*/



body {
  /*background-image: url("");*/
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Montserrat{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .12em;
}

.signUpCopy {
  font-family: Helvetica;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}


.loginButton {
  width: 19em;
  margin-left: .8em;
}

.signUpButton {
  width: 19em;
  margin-right: 90em;
  height: 2.5em;
  padding-top: 65px;
}

.buttonOverride {
  width: 19em;
  margin-right: 1em
}

.buttonOverrideSpecial {
  margin-right: 11em;
}

.boardButtonOverride {
  width: 19em;
}

.createBoard {
  width: 19em;
  margin-right: 18em;
}

.centerBoardsUnderCreateBoard {
  margin-right: 1em;
  width: 19em;
}

.box {
  height: 20px;
  width: 20px;
}

.behind {
  z-index: -1;
}
.fade
{
        opacity:1;
}
.fade:hover
{
        opacity:.5;
}

.center {
  text-align: center;
}

/*body {
      height: 100%;
      background: linear-gradient(to right,  red 20%, green 20%, orange);
    }*/

/*.background {
  background-color: blue;
}*/

h1 {
  font-size: 3em;
}

.tagline {
  font-size: 1.5em
}

.centered {
  margin: 0 auto;
}

.rounded {
  border-radius: 20em
}

.logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 13em;
  text-align: center;

}

.headline {
  padding-top:.83em;
  padding-bottom:.83em;
}

.centerLogin {
  margin: 0 auto;
}

.lightBox {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  border-color: black;
  border-width: thin;
}

.blueBox {
  background-color: #ccecff;
  border-radius: 20px;
  border-width: 2px;
}

.postContent {
  /*background-color: rgba(219, 247, 255, 0.87);*/
  padding-left: .83em;
  padding-right:.83em;
  padding-top: .83em;
  color: black;
}

.nameLine {
  padding-left: 1em;
  border-top: .1em;
}

.borderBottomAccent {
  border-bottom: .1em;
}

.deleteButton {
  margin-top: 1em;
  margin-right: 1em;
}

.deleteBoard {
  padding-top: 2.73em;
}

.spaceBottomXL {
  padding-bottom: 6em;
}

.spaceBottomL {
  padding-bottom: 3em;
}

.spaceBottomM {
  padding-bottom: .1em;
}

.spaceBottomS {
  padding-bottom: 1em;
}

.spaceTopM {
  padding-top: 2em;
}

.spaceTopS {
  padding-top: .1em;
}

.spaceTopSM {
  padding-top: .75em;

}

.spaceLeftM {
  padding-left: 1em;
}
